@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: #65B6BF;
}

#main>div {
    display: flex;
}

img {
    background-image: url(./img/aviao2-removebg-preview.png);
    background-size: cover;
    border: 1px solid #65B6BF;
    width: 30px;
    height: 30px;
}

.parede {
    width: 30px;
    height: 30px;
    background-image: url(./img/untitleddesign_1_original-5.png);
    background-size: cover;
}

.percurso,
.fim {
    width: 30px;
    height: 30px;
    background-color: #65B6BF;
}

.title {
    text-align: center;
    font-family: 'Lato';
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #4A6E7F;
    margin-top: 100px;
    margin-bottom: 20px;
}

.final {
    background-color: orange;
}

.mensagem {
    text-align: center;
    font-family: 'Lato';
    color: #4A6E7F;
    font-size: 20px;
}